/* Styling for Library*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* SOME FUKING COLORS FOR FUKING PUSSY */
:root {
    --dark-one: #333;
    --dark-two: #7a7a7a;
    --main-color: #474747;
    --main-hover-color: #333;
    --light-one: #fff;
    --light-two: #f9fafb;
    --light-three: #f6f7fb;
    --hover-red: #f00;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-hover-color);
}

html {
    scroll-behavior: smooth;
}

body,
button {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: var(--dark-one);
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
    transition: 0.3s;
    padding-top: 3px;
}

ul {
    list-style: none;
}

header {
    width: 100%;
    overflow: hidden;
    position: relative;
}

nav {
    width: 100%;
    position: relative;
    z-index: 50;
}

nav .container {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    align-items: center;
}

.logo {
    /* Old code[BY DJ] */
    width: 50%;
    display: flex;
    align-items: center;
    padding: 5px 40px 0 40px;
}


img {
    width: 75%;
    height: 75%;
    display: flex;
    align-items: center;
    /* padding: 5px 40px 0 40px; */
}

.links {
    width: 60%;
}

.links ul {
    display: flex;
}

.links a {
    display: inline-block;
    padding: 0.9rem 1.2rem;
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
    transition: 0.3s;
}

.links a.active {
    background-color: var(--main-color);
    color: var(--light-one);
    border-radius: 2rem;
    font-size: 1rem;
    padding: 0.9rem 2.1rem;
    margin-left: 1rem;
}

.links a:hover {
    color: var(--main-color);
}

.links a.active:hover {
    color: var(--light-one);
    background-color: var(--main-hover-color);
}



.header-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3.5rem;
    line-height: 1;
    color: var(--main-color);
}

.header-content .container {
    grid-template-columns: 5fr 3.5fr;
    min-height: calc(100vh - 6rem);
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.header-content .text {
    margin: 2.15rem 0;
    text-align: center;
    font-size: 25px;
    padding: 0px 150px 0px 150px;
    margin: 30px 20px;
}



.links a:hover {
  color: var(--hover-red);
}

.links a.active:hover {
  color: var(--light-one);
  background-color: var(--hover-red);
}